* {
  font-family:monospace;
}

.app {
  display: flex;
  justify-content: center;
}

.game-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

@media screen and (min-width: 600px) and (min-height: 700px) {
  .game-container {
    width: 600px;
  }  
}

.game-board {
  margin-bottom: 10px;
}