* {
  font-family:monospace;
}

.app {
  display: flex;
  justify-content: center;
}

.game-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.game-board {
  margin-bottom: 10px;
}