.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 4px;
  font-size:48px;
  text-transform: uppercase;
  border: 1px solid lightgrey;
}

.blank {
  background-color: white;
}

.no-match {
  background-color: lightgrey;
  border: 1px solid lightgrey;
}

.match {
  background-color: lightgreen;
  border: 1px solid lightgreen;
}

.partial-match {
  background-color: gold;
  border: 1px solid gold;
}

.current-input {
  box-shadow: 0px 0px 5px 1px lightgrey;
}

.filled {
  border: 1px solid grey;
}