.info {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info h3 {
  margin: 0px;
}

.info h2 {
  margin: 0px;
}

.info-title {
  margin-bottom: 10px;
}

.gameover-answer {
  margin-bottom: 10px;
}

.gameover-definition {
  margin-bottom: 10px;
}