.key-row {
  display: flex;
  justify-content: center;
}

.key {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 3px;
  margin: 2px;
  width: 30px;
  height: 45px;

  transition-timing-function: ease-out;
  transition: 250ms;
}

.key:focus {
  outline: 1px solid grey;
}

.key:hover {
  transform: translateY(-2px);
}

.special-key {
  font-size: 12px;
  width: 45px;
}

.key-match {
  background-color: green;
  color: white;
}

.key-partial-match {
  background-color: orange;
  color: white;
}

.key-no-match {
  background-color: grey;
  color: white;
}