.restart-text {
  display: flex;
  justify-content: center;
}

.restart-button-container {
  display: flex;
  justify-content: center;
}

.restart-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 3px;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  /* width: 30px; */
  height: 45px;

  transition-timing-function: ease-out;
  transition: 250ms;
}

.restart-button:focus {
  outline: 1px solid grey;
}

.restart-button:hover {
  transform: translateY(-2px);
}